@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Quicksand', Helvetica, sans-serif;
}
